@import "./font.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* html */
:root {
  /* general color */
  --bg-color: #eeeeec;
  --bg-color-header: #e0e0e0;
  --bg-color-code: #e6e6e6;
  --primary-blue-color: rgb(7,112,171);
  --h2-title-text-hover-color: rgb(7,112,171,.7);

  /* ft color palette*/
  --ft-claret: #990f3d;
  --ft-crimson: #c00;
  --ft-teal: #0d7680;
  --ft-pink: #fcd0b1;
  --ft-paper: #fff1e5;
  --ft-grey: #333;
  --ft-oxford: #0f5499;
  --ft-light-blue: #00a0dd;
  --ft-graphics-dark-blue: #006f9b;
  --ft-matisse-blue: #355778;
  --ft-sky: #cce6ff;
  --ft-velvet: #593380;

  /* new yorker pallete */
  --tny-red: rgb(219,51,52);
  --tny-gray: rgb(102,102,102);

  /* gentoo color palette */
  --gentoo-primary-purple: #54487a;

  /* code highlighting color */
  --chacha-alum-1: #eeeeec;
  --chacha-alum-2: #d3d7cf;
  --chacha-alum-6: #4c504c;
  --chacha-red: #a40000;
  --chacha-teal: #076678;
  --chacha-green-5: #397104;
  --chacha-purple-2: #75507b;
  --code-default-foreground: var(--chacha-alum-6);
  --code-keyword-foreground: #000000;
  --code-function-foreground: #3465a4;
  --code-comment-foreground: #b35000;
  --code-const-foreground: var(--chacha-purple-2);
  --code-number-foreground: var(--chacha-green-5);
  --code-string-foreground: var(--chacha-green-5);
  --code-doc-foreground: var(--chacha-teal);

  /* space */
  --line-height: 1.5rem;

  background: var(--chacha-alum-1);
  font-family: "Crimson Text", serif;
  font-size-adjust: ex-height 0.55;
  line-height: var(--line-height);
}

body {
  max-width: 80ch;
  padding: 2ch;
  margin: auto;
}

/* site header */
header {
  margin: 1em 0 2em 0;
  & nav { display: flex; column-gap: 2ch; align-items: baseline; flex-wrap: wrap; }
  & nav div { display: flex; column-gap: 1ch; align-items: center; flex-wrap: wrap; }
  & nav div a {
    display: flex; align-items: baseline;
    color: rgba(0, 0, 0, .8); text-decoration: none; white-space: nowrap;
    & svg { width: 1.25rem; height: 1.25rem; }
  }
  & a { font-style: normal; color: rgba(0, 0, 0, .8); text-decoration: none; }
  & a:hover { color: rgba(0, 0, 0, .8); text-decoration: underline; }
  & a:visited { color: rgba(0, 0, 0, .8); }
  & .sitename { font-size: 1.2em; flex-grow: 2; }
}

@media screen and (max-width: 468px) {
  header {
    & .sitename a:has(>svg) { display: none; }
  }
}

/* article header */
header:has(> h1) {
  margin: .75rem 0;
  & h1 { margin-bottom: 0; line-height: 1.2 }
}

article > *, article > section > *, figure.blockquote { max-width: 65ch; }
article > section, article > figure, article > section > figure {
  max-width: 70ch;
  overflow-x: auto;
  overflow-y: clip;
}

footer { display: none; }
@media screen and (max-width: 468px) {
  footer {
    display: block;
    margin-top: 3rem;
    & p { display: flex; column-gap: 2ch; justify-content: center; flex-wrap: wrap; }
    & a {
      display: flex; align-items: center; gap: 0.5ch;
      color: rgba(0, 0, 0, .8); text-decoration: none; white-space: nowrap;
      & svg { width: 1.25rem; height: 1.25rem; }
    }
  }
}

/* article > section > figure { background-color: var(--chacha-alum-2); padding: .5rem; } */

h1     { margin: 0.75rem 0; }
h2, h3 { margin: 0.5rem 0; }
section { margin-top: 1rem; }
p, table, ol, ul, figure, aside, dl, hr { margin-bottom: var(--line-height); }

sup, sub { line-height: 0; }

h1, h2, h3 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgba(7,112,171,.9);
  text-rendering: optimizeLegibility;
  text-wrap: balance;
  line-height: 1em;
}
h1, h2 { font-size: 2rem; }
h3 { font-size: 1.5rem;}

section:target > :is(h1, h2, h3)         { position: relative; }
section:target > :is(h1, h2, h3)::before { position: absolute; left: -1.2ch; content: "§"; }
:is(h1, h2, h3) > a { color: inherit; text-decoration:none }
:is(h1, h2, h3) > a:hover { color: inherit; text-decoration:none }


/* Block */

img, video { display: inline-block; vertical-align: middle; max-width: 100%; height: auto; }
figure > img, figure > video { display: block; margin-left: auto; margin-right: auto; }

p { hyphens: auto; text-align: justify; }
figure.blockquote { padding-left: 1em; border-left: 3px solid #ba3925; }
figure.blockquote > figcaption { text-align: right; }

table { border-collapse: collapse; background: #fff;  }
table, td, th { border: 1px solid #dedede; }
td, th { padding: 0.5625em 0.625em }

ol, ul, dd { padding-left: 3ch; }
ul { list-style-type: circle;}
.roman { list-style-type: lower-roman; }

dt { margin-top: 1rem; font-weight: bold; }

aside.admn { display: flex; flex-direction: row; align-items: center; }
aside.admn > svg.icon { flex-shrink: 0; width: 2rem; height: 2rem; fill: #19407c; }
aside.admn.warn > svg.icon { fill: #ba3925; }
aside.admn > div { flex: 1; min-width: 0; padding-left: 1ch; margin-left: 1ch; border-left: 1px solid #dddddf }

aside.block {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #dbdbd6;
  padding: 1em;
  background: #f3f3f2;
}

aside.block > .title {
  font-family: "Inter", sans-serif; font-size: 1.5rem; color: #7a2518;
  text-align: center;
  margin-top: 0; margin-bottom: 0.5rem;
}

aside.block > :last-child { margin-bottom: 0; }

/* footnotes */
aside.footnotes > ol { counter-reset: footnote; list-style-type: none; }
aside.footnotes > ol > li { display: flex; align-items: baseline; gap: 1rem; }
aside.footnotes > ol > li::before {
  counter-increment: footnote;
  content: counter(footnote) ".";
}

details { padding-left: 1em; border-left: 3px solid #19407c; }

code {
  font-family: "LiberationMono", monospace;
  font-variant-ligatures: none;
  color: var(--code-default-foreground);
}

figcaption.title {
  font-style: italic; font-weight: 400;
  line-height: 1.45;
  color: #7a2518;
  margin-top: 0; margin-bottom: 0.25em;
}

figure.code-block > pre > code { line-height: 1.2;  }

blockquote > p {
  border-left: .25rem solid var(--primary-blue-color);
  padding-left: 1rem;
}

ol.callout { list-style: none; counter-reset: callout; }
ol.callout > li { position: relative; }
ol.callout > li::before {
  counter-increment: callout; content: counter(callout);
  position: absolute; top: 0.2rem; left: -1.1rem;
}
i.callout::after {
  content: attr(data-value);
}
ol.callout > li::before, i.callout::after {
  font-family: monospace; font-style: normal; font-size: 0.75rem; font-weight: bold;
  display: inline-block; width: 0.9rem; height: 0.9rem; line-height: 0.9rem;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.two-col { display: flex; flex-direction: row; }
.two-col > *:first-child { flex: 30%; }
.two-col > *:last-child { flex: 30%; }

hr { border: none; border-top: 2px solid #333333; overflow: visible; color: black;
     height: 1rem; text-align: center; margin-top: var(--line-height); }
/* hr::after { content: 'abc'; display: block; } */

/* Inline */

p>code { white-space: nowrap; } /* Sadly, overflow-wrap: anywhere doesn't compose with this */
p>code { line-height: 0px; } /* https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align */
.display { display: block; margin: 1em 0; text-align: center; overflow-x: auto; overflow-y: clip; }

a { text-decoration-color: #2156a5; text-decoration-thickness: 7%; color: black; }
a:hover, a:focus { color: #2156a5; fill: #2156a5; }
a:hover, a:focus { & code { color: #2156a5; fill: #2156a5; } }
a.url { word-break: break-all; }

kbd { font-family: monospace; font-variant-ligatures: none; line-height: 1; }

kbd > kbd {
  display: inline-block;
  color: rgba(0, 0, 0, .8); background: #f7f7f7; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 1px 0 rgb(0 0 0 / 20%), 0 0 0 0.1em #fff inset;
  margin: 0 0.15em; padding: 0.2em 0.5em; top: -0.1em;
  vertical-align: middle; position: relative; white-space: nowrap;
}

dfn, .small-caps { font-style: normal; font-variant: small-caps; }

.meta { display: block; color: #828282; font-family: "Inter", sans-serif; font-size: 1.2rem; font-weight: 300;}
div.meta span { color: var(--chacha-red); text-transform: uppercase; font-size: 1.2rem; font-family: "Inter", sans-serif; font-weight: 300; margin-left: .5rem; }

.menu { font-weight: bold; }

/* Special Cases */

.file-edit { font-family: "LiberationMono", monospace; font-size: .8rem;
             background: var(--bg-color-header); margin-bottom: .2rem; padding: 0;
             max-width: 80ch; overflow-x: auto; }
.file-edit::before {
  content: 'FILE';
  color: #fff;
  background-color: var(--gentoo-primary-purple);
  margin: 0 1rem 0 0;
  padding: .2rem;
}

.post-list      { margin-left: 0; padding: 0; list-style: none; }
.post-list > li { margin-top: 1em; }
.post-list h2   { margin-top: .25rem; }
.post-list a    { color: var(--primary-blue-color);
                  text-decoration: none;
                  display: block;}
.post-list a:hover { color: var(--h2-title-text-hover-color);
                     text-decoration: underline; }

.about-ava { float: left; margin-right: 2ch; display: inline;}

.blogroll-list      { margin-left: 0; padding: 0; list-style: none; }
.blogroll-list > li { margin-top: 1em; }
.blogroll-list .author { font-family: "Inter", sans-serif; font-weight: bold;
                         font-size-adjust: 45%; display: block; margin: 0; }
.blogroll-list h2   { margin-top: .25rem; }
.blogroll-list p    { margin: .25rem 0; }
.blogroll-list a    { color: var(--primary-blue-color);
                      text-decoration: none; display: block; }
.blogroll-list a:hover { color: var(--h2-title-text-hover-color);
                         text-decoration: underline; }


/* Highlighting */

.hl-keyword { color: var(--code-keyword-foreground); }
.hl-literal { color: var(--chacha-purple-2); }
.hl-tag     { color: #000080; }
.hl-title { color: var(--code-function-foreground); }
.hl-title.class_ { color: var(--code-default-foreground); }
.hl-title.function_ { color: var(--code-function-foreground); }
.hl-comment { color: var(--code-comment-foreground); }
.hl-built_in { color: var(--code-default-foreground); }
.hl-meta { color: #3c5d5d; }
.hl-meta.string { color: var(--chacha-teal); }
.hl-number { color: var(--code-number-foreground); }
.hl-string { color: var(--code-number-foreground); }
.hl-output { color: #2156a5; }
.hl-subst { color: rgba(0, 0, 0, .9); }
.hl-attr, .hl-symbol { color: #008080; }
.hl-line { background-color: #ffc; }
/* .hl-type    { color: #0086B3; } */
/* .hl-title.class_{ color: #445588; } */
/* .hl-built_in, .hl-meta { color: #3c5d5d; font-weight: bold; } */

.token.keyword { color: var(--code-keyword-foreground); }
.token.string { color: var(--code-string-foreground); }
.token.string.doc { color: var(--code-doc-foreground); }
.token.number { color: var(--code-number-foreground); }
.token.comment { color: var(--code-comment-foreground); }
.token.defname { color: var(--code-function-foreground); }
.token.function { color: var(--code-default-foreground); }
.token.boolean { color: var(--code-const-foreground); }
/* for clike langs */
span.token.keyword + span.token.function { color: var(--code-function-foreground); }
